body {
  margin: 0;
  overflow: auto;
}

canvas {
  z-index: 1000;
}

.customTextbox {
  position: absolute;
  border: 2px solid #ccc;
  overflow: auto;
  cursor: grab;
  resize: both;
  z-index: 998;
  /* Добавлено свойство для изменения размеров */
}

.customCircle {
  position: absolute;
  background-color: black; /* Или любой другой заметный цвет */
  border: 1px solid black; /* Добавляем видимую границу */
  z-index: 999;
}

/* Стиль для выделенных окружностей */
.selected {
  border: 3px solid green; /* или любой другой цвет, отличающий выделенные элементы */
}

.context-menu {
  position: absolute;
  z-index: 1000;
  width: 150px;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 5px #cccccc;
}

.context-menu button {
  width: 100%;
  padding: 10px;
  border: none;
  background: white;
  cursor: pointer;
}

.context-menu button:hover {
  background-color: #f0f0f0;
}
